{% extends "layout.njk" %}


    {% block head %}
    <title>Sobre Gabriel Aires</title>
    {% endblock %}

{% block content %}

        <div id="geral">
            <div id="apresentacao">
                <img class="profile" src="https://scontent.fudi1-1.fna.fbcdn.net/v/t1.0-9/40160094_1670089446451964_313168377906462720_o.jpg?_nc_cat=102&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeEVORVaVwDRUkSMneaiCbRws9DBg-N68VSz0MGD43rxVGsuePWVg15A_YYwqohBm1NdPlCf9Vko6Nx3MSP0BXeZ&_nc_ohc=TcLSyYndr5wAX-uRrev&_nc_oc=AQl5adJAP8JmDUMkb8gazkJlMKmnL--UH2-6fs3ytN1_wX3mzOo3zcTeUSpgi4pH-r0&_nc_ht=scontent.fudi1-1.fna&oh=3f31a9d82f2aae31b4334dead1958023&oe=5FE0DA07" alt="Gabriel Aires">
                <h1>Gabriel Aires</h1>
                <h2>Estudante do Bootcamp Launchbase na Rocketseat.</h2>
                <p>Entusiasta de programação, iniciando os estudos em Full-Stack pela <a href="https://rocketseat.com.br" target="_blanck">Rocketseat</a></p>
            
                <div class="links" id="redes">
                    <div class="git"></div>
                    <div class="link"></div>
                    <div class="tw"></div>
                </div>
            </div>
        </div>


    </body>

{% endblock %}