{% extends "layout.njk" %}

    {% block head %}
      <title>ERRO</title>
    {% endblock %}

{% block content %}
  
  <h1>ERROR 404</h1>
  <h2>PÁGINA NÃO ENCONTRADA</h2>
  
{% endblock %}